<div class="modal-header d-flex justify-content-center bg-dark">
    <h5 class="text-center text-light">Update Profile</h5>
</div>

<div class="modal-body">
    <form [formGroup]="updateProfileForm" (ngSubmit)="onUpdate(updateProfileForm)">
        <div class="form-group">
            <label class="my-3">User Name</label>
            <input type="text" formControlName="name" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
            <div *ngIf="(f.name.touched || submitted) && f.name.errors?.required" class="invalid-feedback">Name
                is required
            </div>
        </div>
        <div class="form-group">
            <label class="my-3">Email</label>
            <input type="email" formControlName="email" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
            <div *ngIf="(f.email.touched || submitted) && f.email.errors?.required" class="invalid-feedback">
                Email is required</div>
            <div class="invalid-feedback" *ngIf="f.email.errors?.emailNotAvailable">
                Email is already registered
            </div>
            <div class="invalid-feedback" *ngIf="(f.email.touched || submitted) && f.email.errors?.email">
                Enter a valid email
            </div>
            <!-- <div class="invalid-feedback" 
                *ngIf="f.email.touched && f.email.errors?.emailMismatch">
                condition true
                <div class="invalid-feedback" *ngIf="f.email.errors?.emailNotAvailable">
                    Email is already registered
                </div>
            </div> -->
        </div>
        <div class="form-group">
            <label class="my-3">Qualification</label>
            <input type="text" formControlName="qualification" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.qualification.errors }" />

            <div *ngIf="(f.qualification.touched || submitted) && f.qualification.errors?.required"
                class="invalid-feedback">Qualification is required
            </div>
        </div>
        <div class="modal-footer text-center d-flex justify-content-center">
            <button class="btn btn-success">Update</button>
            <button (click)="onCancel()" class="btn btn-danger">Cancel</button>
        </div>
    </form>
</div>


