<h3 class="header text-center mb-5 display-6 fw-bolder">BLOCKED STUDENTS</h3>
<table class="table table-striped table-responsive">
  <thead class="bg-dark">
    <tr class="text-light text-center">
      <th>#</th>
      <th scope="col">Student</th>
      <th scope="col">Gender</th>
      <th scope="col">Email</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
  <tbody *ngIf="studentList && studentList.length else notstudentList">
    <tr class="text-center" *ngFor="let s of studentList; let i=index">
      <th>{{i+1}}</th>
      <th scope="row">{{s.username}}</th>
      <td>{{s.gender}}</td>
      <td>{{s.email}}</td>
      <td>{{s.status}}</td>
    </tr>
  </tbody>
  <tr>
    <ng-template #notstudentList>
      <th colspan="5" class="text-danger text-center py-5">No results found !!!</th>
    </ng-template>
  </tr>
</table>