
       .form-signin {
        width: 100%;
        max-width: 400px;
        padding: 3%;
        margin: 15% auto; 
        background: rgba(0, 0, 0, 0.8);
    }

    .head-title {
        font-size: 50px;
        float: right;
        line-height: 100%;
        font-weight: bold;
    }
.heading{
    padding:20% 0% 20% 15%;
}
.rounded-corner{
    border-radius: 15px;
}
.container-fluid{
    height: 79vh;
    background: linear-gradient(95deg, #f05756 40%,#fbcf34  100%);
}