<div class="container">
  <header id="home" class="welcome-area">
    <div class="overlay">
      <span></span>
      <span></span>
    </div>
  <div class="container">
      <div class="row space-100">
        <div class="col-lg-6 col-md-12 col-xs-12">
          <div class="contents">
            <h2 class="head-title">Welcome to<br>Tutor Management system<br></h2>
            <p>We cover over 300 subjects across all grade levels &amp; <br>
              Whether it's high school or college-level Course,<br>
              we have a tutor that can help.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-xs-12 p-0">
          <div class="intro-img">
            <img src="../../../../assets/images/intro1.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<div class="container mt-5" id="About">
  <section id="business-plan">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 pl-0 pt-5 pr-5">
          <div class="business-item-img">
            <img src="../../../../assets/images/business-img.png" class="w-75 h-100" alt="">
          </div>
        </div>
        <div class="col-lg-6 col-md-12 pl-4">
          <div class="business-item-info">
            <h3>Why TMS?</h3>
            <h3 style="font-size:30px;">"What would you like to learn about?"</h3>
            <p>One of the most exciting developments in the tech world is the number of people who are learning to write
              code.

              <br><br>
              TMS allows students to select their goal/learning objective and then recommends the proper course for that
              student.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<section id="features" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="features-text section-header text-center">
          <div>
            <h3 class="section-title text-dark">How TutorMe works</h3>
            <div class="desc-text text-dark">
              <h4 style="font-size:30px;">On-demand tutoring &amp; Learn from the best tutors</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row featured-bg text-center">
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <div class="feature-item featured-border1">
          <div class="feature-icon">
            <i class="fad fa-paper-plane"></i>
          </div>
          <div class="feature-info"><br>
            <h4>Request</h4>
            <p>Tell us what you need help with and our
              smart matching system will connect you with an online tutor. Sign
              up for a free trial using a debit/credit card.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <div class="feature-item featured-border2">
          <div class="feature-icon">
            <i class="fal fa-graduation-cap"></i>
          </div>
          <div class="feature-info float-left"><br>
            <h4>Learn</h4>
            <p>Get live 1-on-1 help in our advanced
              lesson space. Use a virtual whiteboard,audio/video chat, screen
              sharing, text editor and much more.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <div class="feature-item featured-border1">
          <div class="feature-icon float-left">
            <i class="fal fa-comment-alt-exclamation"></i>
          </div>
          <div class="feature-info float-left"><br>
            <h4>Review</h4>
            <p>After the lesson is completed, both the
              tutor and student have the opportunity to rate each other,
              maintaining the quality of our community.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-xs-12 p-0">
        <div class="feature-item featured-border2">
          <div class="feature-icon float-left">
            <i class="fal fa-cloud"></i>
          </div>
          <div class="feature-info float-left"><br>
            <h4>Course stays with you</h4>
            <p>Our lesson space features a virtual
              whiteboard, text editor, audio/video chat, screensharing and so
              much more.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="contact" class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="contact-text section-header text-center">
          <div>
            <h2 class="section-title">Get In Touch</h2>
            <div class="desc-text">
              <p>How about a meeting? We'd love to come around to listen to your needs.</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p style="text-align:left;"><br><strong>Cybage Software Pvt. Ltd.</strong><br>
              Cybage Towers, Survey No. 13A/ 1,2,3/1,<br> Cybage Tower Rd, Adarsh Nagar,<br>Wadgaon Sheri,
              Pune-411014,<br> Maharashtra , India.<br><br>
              <strong>Email:</strong> G2@cybage.com <br>

            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
      </div>
      <div class="col-lg-4 col-md-12">
        <div class="mapouter">
          <div class="gmap_canvas">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d30260.85016628154!2d73.91005574149861!3d18.546686386379246!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bc2c10d56b17bbd%3A0xd321708ac4d45fc8!2sCybage%20Software%20Private%20Limited!5e0!3m2!1sen!2sin!4v1626413430802!5m2!1sen!2sin"
              width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" title="companyLocation"></iframe>
          </div>
        </div>
      </div>
      <div class="col-lg-1">
      </div>
    </div>
  </div>
</section>